.p1{
    color: bisque;
    background-color: blueviolet;
}


.p2{
    color: brown;
    background-color: cadetblue;
}

.p3{

    color:rebeccapurple;
    background-color: red;
}

.p4{
    color: blue;
    background-color: coral;
}